extends layout

block content
  h1 登陆
  span 账号
  input(type="text")
  br
  span 密码
  input(type="text")

  div
   a.btn#login 登陆
   a.btn(href='./register') 注册

  script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js")
  script(src="/js/login.js")
